# Mac OS X Finder artifacts
.DS_Store
*/.DS_Store
# Tests artifacts
tests/**/*.sh
tests/**/*.awk
tests/**/*.exe
tests/**/*.err
tests/**/*.output
tests/**/*-gcc
# Build artifacts
build/*
artifact/*
artifact.zip
kit/build/*
kit/cat
kit/chmod
kit/cp
kit/mkdir
kit/sha256sum
kit/simple-patch
kit/ungz
kit/untar
